{% extends "base_generic.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">


{% block content %}
  <div id="panel" class="row">

    <div class="col border">
        <div id="the-top-part">
              <h1>C.H. Robinson Path Finder</h1>
        </div>   

        <div>
          {% load crispy_forms_tags %}
            {% csrf_token %}
          {% crispy form %}
        </div>

      <div class="border">
          <ol> 
            {% for country in countries %} 
              <li>{{ country }}</li> 
            {% endfor %} 
          </ol> 
        </div>
    </div>

    <div class="col border">
      <img src="{% static 'images/map.png' %}" width="500" height="600">
    </div>



  </div>
{% endblock %}